@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/MasterHome.cshtml";
}

<div class="container">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <form id="form1" action="result" method="get" role="form">
                    <div class="row">   
                        <div class="col-md-2 col-xs-1">
                        </div>                     
                        <div class="col-md-8 col-xs-10 text-left">
                            <p class="title">Tìm những địa điểm bất kì</p>
                        </div>   
                        <div class="col-md-2 col-xs-1">
                        </div>                    
                    </div>
                    <div class="row homepagerow">
                        <div class="col-md-2 col-xs-1">
                        </div>
                        <div class="col-md-8 col-xs-10">
                            <input id="search" data-required="true" name="search" type="text" class="form-control" placeholder="Nhập tên hoặc địa chỉ địa điểm tìm kiếm" />
                        </div>
                        <div class="col-md-2 col-xs-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                            <p class="buttonGreen" id="btn_home1">TÌM</p>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                </form>
            </div>
            <div class="item">
                <form id="form2" action="result" method="get">
                    <div class="row">
                        <div class="col-md-2 col-xs-1">
                        </div>
                        <div class="col-md-8 col-xs-9 text-left">
                            <p class="title">Tìm những địa điểm xung quanh mình theo lĩnh vực</p>
                        </div>
                        <div class="col-md-2 col-xs-2">
                            
                        </div>
                    </div>
                    <div class="row homepagerowsmall">
                        <div class="col-md-2 col-xs-1">
                        </div>
                        <div class="col-md-8 col-xs-9">
                            <input id="address" data-required="true" name="address" type="text" class="form-control" placeholder="Nhập địa chỉ hiện tại của bạn hoặc sử dụng chức năng định vị bên cạnh" />
                        </div>
                        <div class="col-md-2 col-xs-2 text-left locationicon">
                            <a id="getCurrentPosition" href="JavaScript:void(0);" title="Chức năng định vị này chỉ hoạt động chính xác với các thiết bị dùng mạng wifi hoặc 3G/4G.">
                                <img id="iconTarget" src="../images/icon1.png" />
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>
                    <div class="row homepagerowsmall">
                        <div class="col-md-2 col-xs-1">
                        </div>
                        <div class="col-md-8 col-xs-10">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 homepagerowsmall">
                                    <select id="category" name="category" class="form-control">
                                        <option value="">Loại</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-4 homepagerowsmall">
                                    <select data-required="true" id="brand" name="brand" class="form-control">
                                        <option value="">Tên quán</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-4 homepagerowsmall">
                                    <input id="range" name="range" data-required="true" data-pattern="^(?:R\$)?\s*(\d+)(?:[,\.](\d)(\d)?)?\d*$" type="search" class="form-control" placeholder="Nhập bán kính (mét)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                            <p class="buttonGreen" id="btn_home2">TÌM</p>
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="ferrari active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class="lamborghini"></li>
        </ol>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <strong>Chào mừng bạn đến với Tìmđâu.vn !</strong> Tại đây bạn có thể tìm các địa điểm quán ăn, nhà hàng hiện có trong hệ thống. <br /><strong>Trong thời gian tới, chúng tôi sẽ ra mắt danh mục Trung tâm thương mại và Vui chơi !</strong>
    </div>    
</div>

@section scripts
 {    
    <script>
        jQuery(document).ready(function ($) {
            FQTD.initHomepage();
        });
    </script>
}
