@model fqtd.Areas.Admin.Models.tbl_SystemContent

@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/MasterSub.cshtml";   
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Giới thiệu</h1>
            @Html.Raw(Model.SystemContent)
        </div>
    </div>
</div>
