@model fqtd.Areas.Admin.Models.tbl_SystemContent

@{
    ViewBag.Title = "Chính sách bảo mật";
    ViewBag.keywords = System.Configuration.ConfigurationManager.AppSettings["metakeywords"];
    ViewBag.description = System.Configuration.ConfigurationManager.AppSettings["metakeydescription"];
    Layout = "~/Views/Shared/MasterSub.cshtml";   
}
<div class="container" itemscope itemtype="http://schema.org/ItemPage">
    <div class="row">
        <div class="col-xs-12">
            <h1>Ch&iacute;nh s&aacute;ch bảo mật</h1>
            @Html.Raw(Model.SystemContent)
        </div>
    </div>
</div>
