@{
    ViewBag.Title = "Liên hệ";
    ViewBag.keywords = System.Configuration.ConfigurationManager.AppSettings["metakeywords"];
    ViewBag.description = System.Configuration.ConfigurationManager.AppSettings["metakeydescription"];
    Layout = "~/Views/Shared/MasterSub.cshtml";  
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Liên hệ</h1>
            <p>Thông tin của bạn đã được gửi đi. Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất.</p>
        </div>
    </div>
</div>
