@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/MasterSub.cshtml";  
}
<div id="content_home">
    <div id="noidungchinh">
        <h1>Liên hệ</h1>
        <p>Thông tin đang câp nhật.</p>
    </div>
</div>
