/* CSS Document */

* {
    padding: 0;
    margin: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 10pt;
    color: #606060;
    background: #ffffff;
    height: 100%;
}

/*******header********/
.headerhome {
    float: none;
    text-align: center;
}

    .headerhome > .navbar-toggle {
        margin-top: 76px;
    }

    .headerhome .img-responsive {
        display: inherit;
    }

.navbar-default .navbar-nav > li > a {
    color: #e0e0e0;
    font-family: utm_bebasregular;
    font-size: 20px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #35a018;
    }

.navbar-toggle {
    margin-top: 22px;
}


.navbar-default {
    background: #262626; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTg5ODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #262626 0%, #898989 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(100%,#898989)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #262626 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #262626 0%,#898989 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #262626 0%,#898989 100%); /* IE10+ */
    background: linear-gradient(to bottom, #262626 0%,#898989 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#898989',GradientType=0 ); /* IE6-8 */
}
/*******end header********/
/*******carrousel******/
.carousel .item {
    height: 370px;
    text-align: center;
    padding-top: 100px;
}

.carousel-control {
    width: 10%;
}

    .carousel-control.left {
        background-image: none;
    }

    .carousel-control.right {
        background-image: none;
    }

.glyphicon {
    font-size: 33px;
    color: #55D040;
}

.homepagerow {
    margin-bottom: 30px;
}

.homepagerowsmall {
    margin-bottom: 15px;
}

.locationicon {
    margin-left: -20px;
}

.glyphicon-chevron-right, .glyphicon-chevron-left {
    left: 0!important;
    right: 0;
}

.ferrari {
    width: 37px !important;
    height: 50px !important;
    background: url(../images/ferrari_horse.png) -37px 0;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    margin: 0px !important;
}

.carousel-indicators {
    position: inherit;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0;
}

    .carousel-indicators .active {
        background-position: 2px 0;
    }

.lamborghini {
    width: 37px !important;
    height: 50px !important;
    background: url(../images/lamborghini_bull.png) -37px 0;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
    margin: 0px !important;
}
/*******end carrousel******/
#wrapperResult {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    /*height:auto !important;  real browsers */
    height: 100%; /* IE6: treaded as min-height*/
    min-height: 100%; /* real browsers */
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 40px;
    background-color: #f5f5f5;
    position: relative;
}

.container .credit {
    margin: 10px 0;
}

#facebook {
    height: 20px;
    width: 30%;
    text-align: left;
    position: absolute;
    bottom: 42px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.notice {
    height: 20px;
    width: 50%;
    position: absolute;
    bottom: 42px;
    right: 0;
}

#content_result {
    bottom: 0;
    float: left;
    overflow: hidden;
    position: absolute;
    margin-top: 82px;
    top: 0;
    width: 100%;
}

#brandlogo {
    float: left;
    margin-right: 18px;
}

input {
    padding: 3px;
    height: 26px;
    border: #bababa 1px solid;
    color: #606060;
}

/*-----other---*/
#logo_small {
    position: absolute;
    right: 10px;
}

#noidungresult {
    width: 100%;
    height: 100%;
}

    #noidungresult h1 {
        color: #202020;
        font-family: utm_bebasregular;
        font-size: 32px;
    }

    #noidungresult h2 {
        color: #202020;
    }

    #noidungresult p {
        color: #606060;
        margin-top: 8px;
    }

#cactienich p {
    color: #606060;
    width: 185px;
    border-bottom: 1px dotted;
    text-align: center;
    line-height: 22px;
}

#menu .active, .buttonGreen {
    -moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    box-shadow: inset 0px 1px 0px 0px #c1ed9c;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #55D040), color-stop(1, #298F15) );
    background: -moz-linear-gradient( center top, #55D040 5%, #298F15 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#55D040', endColorstr='#298F15');
    background-color: #55D040;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #83c41a;
    display: inline-block;
    color: #ffffff;
    font-family: utm_bebasregular;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #689324;
}

    #menu .active:hover, .buttonGreen:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #298F15), color-stop(1, #55D040) );
        background: -moz-linear-gradient( center top, #298F15 5%, #55D040 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#298F15', endColorstr='#55D040');
        background-color: #298F15;
        cursor: pointer;
    }

.inactive, .buttonGrey {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: utm_bebasregular;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

    .inactive:hover, .buttonGrey:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
        background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
        background-color: #dfdfdf;
        cursor: pointer;
    }

#btn_guidi {
    width: 180px !important;
    line-height: 0px;
}

#menu {
    width: 100%;
    font-family: utm_bebasregular;
    font-size: 18px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: -15px;
}

@media (max-width:768px) {
    .object {
        text-align: center;
    }
}

.object {
    margin-bottom: 25px;
}

    .object h2 {
        font-family: utm_bebasregular;
        font-size: 28px;
    }

    .object a {
        color: #606060;
        text-decoration: none;
    }

        .object a:hover {
            color: #35a018;
            text-decoration: none;
        }

#photo {
    border: #dadada 1px solid;
    padding: 2px;
    margin-right: 20px;
    display: inherit;
}

#space {
    width: 100%;
    height: 30px;
}

#map {
    height: 100%;
    width: 100%;
}

.btn_more {
    text-align: center;
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.paging {
    text-align: center;
}

.filterbtn {
    height: 30px;
    line-height: 30px;
}

.showmorebtn {
    height: 30px;
    line-height: 30px;
    width: 165px;
}

#tableTienich {
    width: 240px;
    height: 600px;
    border-collapse: collapse;
    border-spacing: 0;
}

#tbtable {
    background: #fff;
    padding-left: 10px;
    float: left;
    height: 100%;
    width: 203px;
}

#gioithieuchung h1 {
    color: #d01b12;
}

#gioithieuchung p {
    color: #606060;
    margin-top: 20px;
}

#tendiadiem {
    margin-top: 25px;
}

    #tendiadiem h1 {
        color: red;
        font-size: 32px;
        font-family: utm_bebasregular;
    }

#thongtinchitiet {
    margin-top: 25px;
    margin-bottom: 50px;
}

    #thongtinchitiet table {
        width: 100%;
        border: 0;
    }

        #thongtinchitiet table td {
            vertical-align: top;
        }

#kq_left {
    width: 685px;
    display: block;
    float: left;
    margin-right: 20px;
    background-color: #CCCCCC;
}

#kq_right {
    width: 230px;
    display: block;
    float: left;
    background-color: #FFCCCC;
}

.group {
    border: #b4b4b4 1px solid;
    padding: 2px;
    margin: 0px;
}

.title_box {
    background: #262626; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTg5ODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #262626 0%, #898989 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(100%,#898989)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #262626 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #262626 0%,#898989 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #262626 0%,#898989 100%); /* IE10+ */
    background: linear-gradient(to bottom, #262626 0%,#898989 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#898989',GradientType=0 ); /* IE6-8 */
    padding: 7px 15px;
    color: #ffffff;
    font-weight: bold;
}

    .title_box .row1 {
        text-align: left;
    }

    .title_box .row2 {
        width: 12px;
        text-align: right;
    }

        .title_box .row2 img {
            float: right;
        }

#photo2 {
    border: #dbdbdb 2px solid;
}

#photo3 {
    border: #dadada 1px solid;
    padding: 2px;
}

.chitiet:link {
    color: #35a018;
    text-decoration: none;
    padding-right: 5px;
}

.chitiet:hover {
    color: #35a018;
    text-decoration: underline;
    padding-right: 5px;
}

.chitiet:visited {
    color: #35a018;
    text-decoration: none;
}

.content_box {
    margin: 10px 0px;
}

#sociallink {
    background-color: #eaeaea;
    padding: 10px;
}

    #sociallink img {
        margin-right: 3px;
    }

#number {
    text-align: center;
    margin: 20px;
}

.error input, .error select, .error textarea {
    border-color: #b94a48 !important;
    color: #b94a48 !important;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    background-color: white;
}

.inner {
    float: left;
    width: 960px;
}

.hidden {
    display: none;
}

#property label {
    margin-left: 4px;
    line-height: 22px;
    font-weight: normal;
}

#list {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

#getCurrentPosition img {
    border: 0;
}

.ui-effects-transfer {
    border: 2px dotted gray;
}

.marker {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .marker p {
        margin-top: 10px;
        padding-bottom: 8px;
        border-bottom: 1px dotted;
        font-family: Tahoma,Verdana,Arial,sans-serif;
        font-size: 10pt;
    }

    .marker h2 {
        font-family: utm_bebasregular;
        font-size: 28px;
    }

.next {
    text-decoration: inherit;
}

.pre {
    text-decoration: inherit;
}

#directionIcon {
    position: relative;
}

    #directionIcon li {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
    }

    #directionIcon li, #directionIcon a {
        height: 15px;
        display: block;
        cursor: pointer;
    }

#moto {
    left: 0px;
    width: 18px;
    background: url('../images/direction-map-sprite.png') -70px 0;
}

#car {
    left: 37px;
    width: 19px;
    background: url('../images/direction-map-sprite.png') -46px 0;
}

#bus {
    left: 74px;
    width: 15px;
    background: url('../images/direction-map-sprite.png') -95px 0;
}

#walk {
    left: 110px;
    width: 15px;
    background: url('../images/direction-map-sprite.png') -23px 0;
}

.infoBox {
    width: 280px;
    height: auto;
    padding: 0 14px;
    background: url('../images/tipbox.gif') no-repeat #fff;
}

    .infoBox #linkview {
        float: right;
    }

        .infoBox #linkview a {
            color: #35a018;
            text-decoration: none;
            padding-right: 5px;
            font-family: Tahoma,Verdana,Arial,sans-serif;
            font-size: 10pt;
        }

            .infoBox #linkview a:hover {
                color: #35a018;
                text-decoration: underline;
                padding-right: 5px;
                font-family: Tahoma,Verdana,Arial,sans-serif;
                font-size: 10pt;
            }

.currentplace {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

#iconTarget {
    padding-top: 3px;
}

.whiteline {
    height: 20px;
}

.detailinfo [class^="col-"] {
    padding-top: 5px;
    padding-bottom: 5px;
}

#samebrand {
    margin-top: 15px;
}

    #samebrand div {
        text-align: center;
        margin-bottom: 3px;
    }

    #samebrand img {
        width: 100px;
        display: inline;
    }

#tblproperty .record {
    line-height: 20px;
}

    #tblproperty .record img {
        padding-bottom: 5px;
    }

    #tblproperty .record span {
        margin-left: 5px;
    }

#tblSameCategory {
    margin-top: 15px;
}

    #tblSameCategory .samecategorylogo {
        width: 75px;
    }

    #tblSameCategory .record {
        margin-bottom: 15px;
    }

@media (max-width:992px) {
    #tblSameCategory div {
        text-align: center;
    }

    #tblSameCategory .samecategorylogo {
        width: 100px;
        display: inline;
    }
}

#tblimagegallery div {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}

#tblimagegallery img {
    width: 98px;
    height: 98px;
    display: inline;
}

.silverrow {
    background-color: #eaeaea;
}

#staticmap {
    width: 100%;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    max-height: 150px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    list-style: none;
    background-color: #606060;
    color: white;
    padding: 5px;
}

.ui-menu-item .ui-state-focus {
    color: #35a018;
}

.ui-helper-hidden-accessible {
    display: none;
}

#loading {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
}

#cactienich {
    z-index: 2;
}

.stick {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50%;
}

.nostick {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 65%;
}

.propertyrow {
    float: left;
    width: 95%;
    margin-bottom: 5px;
}

#property {
    height: 81%;
    overflow-x: auto;
    background-color: #fff;
    float: left;
    width: 100%;
}

#arrow {
    width: 25px;
    float: left;
    height: 100%;
    position: relative;
    top: 50%;
}

#titleproperty {
    margin-bottom: 11px;
    float: left;
}

    #titleproperty p {
        font-family: utm_bebasregular;
        font-size: 18px;
    }

#hrfClose, #hrfOpen {
    height: 49px;
}

textarea {
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    padding: 3px;
}

.filter {
    text-align: center;
    line-height: 50px;
    float: left;
    width: 100%;
    background-color: #fff;
}

.noResultText {
    margin-top: 57px !important;
    text-align: center;
}

div.less {
    height: 103px;
    overflow: hidden;
}

#showmoreDescription {
    color: #35a018;
    text-decoration: none;
    padding-right: 5px;
}

.rowspace {
    margin-bottom: 30px;
}

.rowspacesmall {
    margin-bottom: 15px;
}

.facebook {
    text-align: center;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.container h1 {
    color: #202020;
    font-family: utm_bebasregular;
    font-size: 32px;
}
/********************
*   Mobile Styles   *
********************/


/* iCheck plugin Square skin, black
----------------------------------- */
.icheckbox_square,
.iradio_square {
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../Images/square.png) no-repeat;
    border: none;
    cursor: pointer;
    float: left;
}

.icheckbox_square {
    background-position: 0 0;
}

    .icheckbox_square.hover {
        background-position: -24px 0;
    }

    .icheckbox_square.checked {
        background-position: -48px 0;
    }

    .icheckbox_square.disabled {
        background-position: -72px 0;
        cursor: default;
    }

    .icheckbox_square.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square {
    background-position: -120px 0;
}

    .iradio_square.hover {
        background-position: -144px 0;
    }

    .iradio_square.checked {
        background-position: -168px 0;
    }

    .iradio_square.disabled {
        background-position: -192px 0;
        cursor: default;
    }

    .iradio_square.checked.disabled {
        background-position: -216px 0;
    }

/* Retina support */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square,
    .iradio_square {
        background-image: url(../Images/square@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

/*pagination*/
.pagination {
    font-size: 80%;
    height: 30px;
    width: 410px;
    margin: 0 auto;
}

    .pagination a {
        text-decoration: none;
        border: solid 1px #616161;
        color: #616161;
    }

    .pagination a, .pagination span {
        display: block;
        float: left;
        padding: 0.3em 0.5em;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .pagination .current {
        background: #35a018;
        color: #fff;
        border: solid 1px #12511f;
    }

        .pagination .current.prev, .pagination .current.next {
            color: #999;
            border-color: #999;
            background: #fff;
        }

/*lightbox*/
/* line 7, ../sass/lightbox.sass */
body:after {
    content: url(../Images/close.png) url(../Images/loading.gif) url(../Images/prev.png) url(../Images/next.png);
    display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}
    /* line 28, ../sass/lightbox.sass */
    .lightbox .lb-image {
        display: block;
        height: auto;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }
    /* line 32, ../sass/lightbox.sass */
    .lightbox a img {
        border: none;
    }

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
    position: relative;
    background-color: white;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
    /* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .lb-outerContainer:after {
        content: "";
        display: table;
        clear: both;
    }

/* line 44, ../sass/lightbox.sass */
.lb-container {
    padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../Images/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
    left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
    outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
    width: 49%;
    height: 100%;
    cursor: pointer;
    /* Trick IE into showing hover */
    display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
    left: 0;
    float: left;
}
    /* line 87, ../sass/lightbox.sass */
    .lb-prev:hover {
        background: url(../Images/prev.png) left 48% no-repeat;
    }

/* line 90, ../sass/lightbox.sass */
.lb-next {
    right: 0;
    float: right;
}
    /* line 93, ../sass/lightbox.sass */
    .lb-next:hover {
        background: url(../Images/next.png) right 48% no-repeat;
    }

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
    /* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
    .lb-dataContainer:after {
        content: "";
        display: table;
        clear: both;
    }

/* line 103, ../sass/lightbox.sass */
.lb-data {
    padding: 0 4px;
    color: #bbbbbb;
}
    /* line 106, ../sass/lightbox.sass */
    .lb-data .lb-details {
        width: 85%;
        float: left;
        text-align: left;
        line-height: 1.1em;
    }
    /* line 111, ../sass/lightbox.sass */
    .lb-data .lb-caption {
        font-size: 13px;
        font-weight: bold;
        line-height: 1em;
    }
    /* line 115, ../sass/lightbox.sass */
    .lb-data .lb-number {
        display: block;
        clear: left;
        padding-bottom: 1em;
        font-size: 12px;
        color: #999999;
    }
    /* line 121, ../sass/lightbox.sass */
    .lb-data .lb-close {
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        background: url(../Images/close.png) top right no-repeat;
        text-align: right;
        outline: none;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
    }
        /* line 130, ../sass/lightbox.sass */
        .lb-data .lb-close:hover {
            cursor: pointer;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
        }

/*auto complete select box*/
.custom-combobox {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 100%;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
}

.custom-combobox-input {
    margin: 0;
    width: 100%;
    height: 34px;
}

.ui-icon {
    width: 16px !important;
    height: 26px !important;
    background-position: -64px -10px !important;
}

.ui-widget {
    font-family: Tahoma, Verdana, Arial, sans-serif !important;
    font-size: 10pt !important;
}

/*font face*/
@font-face {
    font-family: 'utm_bebasregular';
    src: url('../content/font/utm_bebas-webfont.eot');
    src: url('../content/font/utm_bebas-webfont.eot?#iefix') format('embedded-opentype'), url('../content/font/utm_bebas-webfont.woff') format('woff'), url('../content/font/utm_bebas-webfont.ttf') format('truetype'), url('../content/font/utm_bebas-webfont.svg#utm_bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'architectureregular';
    src: url('architep-webfont.eot');
    src: url('architep-webfont.eot?#iefix') format('embedded-opentype'), url('architep-webfont.woff') format('woff'), url('architep-webfont.ttf') format('truetype'), url('architep-webfont.svg#architectureregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
