@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/MasterSub.cshtml";      
}
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
    <div class="row rowspace">
        <div class="col-md-12">
            <div id="gioithieuchung">
                <img id="brandlogo" width="150px" />
                <h1 id="brandname"></h1>
                <div id="branddescription" class="less"></div>
                <a id="showmoreDescription" href="javascript:void(0);">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row rowspace group ">
                <div class="col-md-12 rowspacesmall">
                    <div class="row">
                        <div class="col-md-12 title_box">
                            THÔNG TIN ĐỊA ĐIỂM
                        </div>
                    </div>
                    <div class="row detailinfo">
                        <div class="col-sm-2 hidden-xs">
                            Địa chỉ
                        </div>
                        <div class="col-sm-10 col-xs-12">
                            <div id="txtaddress"></div>
                        </div>
                    </div>
                    <div class="row silverrow detailinfo">
                        <div class="col-sm-2 hidden-xs">
                            Điện thoại
                        </div>
                        <div class="col-sm-10">
                            <div id="txtphone"></div>
                        </div>
                    </div>
                    <div class="row detailinfo">
                        <div class="col-sm-2 hidden-xs">
                            Giờ mở cửa
                        </div>
                        <div class="col-sm-10">
                            <div id="txtopentime"></div>
                        </div>
                    </div>
                    <div class="row silverrow detailinfo">
                        <div class="col-sm-2 hidden-xs">
                            Danh mục
                        </div>
                        <div class="col-sm-10">
                            <div id="txtcategory"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img id="staticmap" class="img-responsive" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowspace group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 title_box">
                            CÙNG THƯƠNG HIỆU
                        </div>
                    </div>
                    <div class="row rowspacesmall">
                        <div class="col-md-12">
                            <div class="row" id="samebrand">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rowspace group">
                <div class="col-md-12 facebook">
                    <div class="fb-comments" data-href="@ViewBag.URL" data-width="682" data-num-posts="10"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row rowspace group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 title_box">
                            CÁC TIỆN ÍCH
                        </div>
                    </div>
                    <div class="row" id="tblproperty">
                    </div>
                </div>
            </div>
            <div class="row rowspace group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 title_box">
                            HÌNH ẢNH
                        </div>
                    </div>
                    <div class="row" id="tblimagegallery">                        
                    </div>
                </div>
            </div>
            <div class="row rowspace group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 title_box">
                            CÙNG THỂ LOẠI
                        </div>
                    </div>
                    <div class="row" id="tblSameCategory">                        
                    </div>
                </div>
            </div>
            <div class="row rowspace">
                <div class="col-md-12">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript">var addthis_config = { "data_track_addressbar": true };</script>
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=anhvuphamx"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        jQuery(document).ready(function ($) {
            FQTD.initDetail();
        });
    </script>
}